body{
    background: url("tlo.jpg");
    background-size: 200%;
    background-attachment: fixed;
    font-family: 'Castoro', serif;

}
div.container{
    width: 1140 px;
    margin: auto;
    padding: 0 15 px;
}

div.main-content{
    width  : 70%;
    float: left;
}


div.sidebar{
  width: 30%;
    float: left;
}

div.content{
    overflow: auto;
}


article, aside, footer, header, section{
    display: block;
}
article, title, footer, aside{
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
}

header{
   margin-bottom: 15px;
    
}

article{
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: auto;
    text-align: justify;
}
footer{
    margin-top: 15px;
       text-align: center;
}
figure{
/*    float: left;*/
    float: left;
    border-right: 2px dashed;
    border-bottom: 2px dashed;
    
    
}

figcaption{
    text-align: center;
}

#html5 h2{
    color: #E44D26;
}
header h1{
    color:blue ;
}

aside h2{
    color: #0070BA;
}
nav ul{
    list-style: none;
    overflow: auto;
    background: rgba(0,0,0,0.6);
    padding: 0;
}

nav ul li {
    float:left;
    margin-right: 20px;
    height: 40px;
    width: 120px;
    margin: 10px;
    
}

nav ul li a{
    color:  black;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    
}

nav ul li a span{
    display: table-cell;
    vertical-align: middle;
    
}


.home{
    background: rgba(176,176,176)
}
.html5{
    background: rgba(190,190,190)

}

.css3{
    background: rgba(208,208,208)
    
}

.about{
    background: rgba(224,224,224)
    
}


